@font-face { font-family: Aquifer; src: url('Aquifer.otf'); } 

body {
  margin: 0;
  background-color: #F2F5EB;
  font-family: 'Aquifer', sans-serif;
  font-weight: 200;
  font-size: 17px;
}
#map-holder {
  width: 100vw;
  height: 90vh;
}
svg rect {
  fill: #F2F5EB;   /* map background colour */
}
.country{
  fill: #D1D7C6;   /* country colour */
  stroke: #4A5043; /* country border colour */
  stroke-width: 1; /* country border width */
}
.country-on{
  fill: #6A3937;   /* highlight colour for selected country */
}
.countryLabel{
  display: none;   /* hide all country labels by default */
}
.countryName{
  fill: #360C10;   /* country label text colour #3B0D11; */
}
.countryLabelBg{
  fill: #D1D7C6;   /* country label background colour */
}

