/* Obtained color schemes from https://coolors.co/e6eed6-3b0d11-bbc5aa-855d5b-4a5043 
	and https://coolors.co/ffff00-ffaa00-ff5400-ff0000-3b0d11*/
@font-face { font-family: Aquifer; src: url('Aquifer.otf'); } 

#title{
	width: 500px;
	height: 25px;
	text-align: center;
	margin: 0 auto; 
	display: block;

}

#titletext{
	font-family: 'Aquifer', sans-serif;
	font-size: 20px;
	fill: #360C10;
}

.country-colonized{
  	fill: #855d5b;   /* highlight colour for selected country */
}

.vulnerable {
	background-color: #FFFF00;
}

.definitely-endangered {
	background-color: #FFAA00;
}

.severely-endangered {
	background-color: #FF5400;
}

.critically-endangered {
	background-color: #FF0000;
}

.extinct {
	background-color: #3B0D11;
}